

.header{
    background-image: url('../../../../images/Banner/Banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.bg-search{
background-color: rgba(58, 59, 59, 0.747);

    
}
