.bg-navbar{
    background-color: rgba(58, 59, 59, 0.747);
    color: white;
}
.bg-canvas{
    background-color: rgba(15, 15, 15, 0.822);
    color: white;
}

.menu-items a{
    color: white;
    font-size: large;
    font-weight: bold;
    margin-right: 18px;
}
.nav-center-end{
    display: inline-block;
}

@media only  screen and (max-width:1089px) and (min-width:991px){
    .menu-items a{
        font-size: medium;
        margin-right: 15px;
    }
}
@media only  screen and (min-width:991px){
    .nav-center-end{
        display: flex;
    }
    
}



